<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>column</key>
		<string>北京新闻</string>
		<key>selected</key>
		<string>1</string>
		<key>cId</key>
		<string>213</string>
		<key>lastUpdate</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>column</key>
		<string>现场法警</string>
		<key>selected</key>
		<string>1</string>
		<key>cId</key>
		<string>214</string>
		<key>lastUpdate</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>column</key>
		<string>财经新闻</string>
		<key>selected</key>
		<string>1</string>
		<key>cId</key>
		<string>220</string>
		<key>lastUpdate</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>column</key>
		<string>科教新闻</string>
		<key>selected</key>
		<string>1</string>
		<key>cId</key>
		<string>215</string>
		<key>lastUpdate</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>column</key>
		<string>文娱体育</string>
		<key>selected</key>
		<string>1</string>
		<key>cId</key>
		<string>216</string>
		<key>lastUpdate</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>column</key>
		<string>国内国际</string>
		<key>selected</key>
		<string>1</string>
		<key>cId</key>
		<string>217</string>
		<key>lastUpdate</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>column</key>
		<string>深度评论</string>
		<key>selected</key>
		<string>1</string>
		<key>cId</key>
		<string>218</string>
		<key>lastUpdate</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>column</key>
		<string>五色土</string>
		<key>selected</key>
		<string>0</string>
		<key>cId</key>
		<string>219</string>
		<key>lastUpdate</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
